   * {
     margin: 0;
     padding: 0;
     /*
     border: solid 1px;
     box-sizing: border-box;
     */
   }

   body {
     display: flex;
   }

   .nav-wrapper {
     height: 100vh;
     width: 18%;
     background-color :#F0F0FF;
     color: #551A8B;
   }
   .nav {
     margin-top: 43px;
     margin-left: 18px;
   }
   .nav-content {
     display: flex;
     margin-bottom: 31px;
     align-items: center;
   }

   .contents-wrapper {
     margin: 18px;
     height: 100%;
     width: 82%;
     background-image: url("/images/techfeelo.png");
   }
   .heading {
     margin-top: 35px;
     margin-bottom: 20px;
     text-align: center;
     font-size: 32px;
   }
   .contents-wrapper-inner {
     display: flex;
     width: 880px;
     margin: 0 auto;
   }

   .content-left {
     width: 350px;
   }
   .face-photo img{
     width: 350px;
     height: auto;
     margin-top: 50px;
     margin-bottom: 50px;

   }
   .profile {
     margin-bottom: 40px;
     margin-left: 20px;
   }
   .profile-english {
     width: 300px;
     margin-bottom: 20px;
   }
   .mail {
     margin-bottom: 20px;
   }


   .content-right {
     width: 530px;
   }
   .news-heading {
     margin-bottom: 30px;
     text-align: center;
     font-size: 16px;
     font-weight: normal;
   }
   .news-list {
     margin-right: 10px;
     margin-left: 10px;
   }
   .news-list-title {
     margin-top: 5px;
     margin-bottom: 4px;
   }
   .news-list-description {
     margin-bottom: 30px;
     margin-left: 80px;
   }

   .officers-list{
    border: solid 1px;
   }